<!DOCTYPE html>
<html data-ng-app="app" ng-strict-di ng-csp>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mumble</title>
	<!-- inject-vendor-styles:css -->
	<!-- endinject -->
	<!-- inject-styles:css -->
	<!-- endinject -->
</head>

<body>
	<div ng-controller="MainController as main">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<form ng-submit="main.refresh()">
						
						<h4>Server</h4>
						<label>
							Channel Viewer Protocol URI
							<input type="text" ng-model="main.config.server.cvp" placeholder="Channel Viewer Protocol URI" />
						</label>
						<br />
						<label>
							Refresh interval
							<input type="number" ng-model="main.config.server.refreshInterval" placeholder="Refresh interval" />
						</label>
						<br />
						<label>
							Show user count?
							<input type="checkbox" ng-model="main.config.server.showUserCount" />
						</label>
						<br />
						
						<hr />
						<h4>Channel</h4>
						<label>
							Show empty channels?
							<input type="checkbox" ng-model="main.config.channel.showEmpty" />
						</label>
						<br />
						<label>
							Show root channel info?
							<input type="checkbox" ng-model="main.config.channel.showRootInfo" />
						</label>
						<br />
						<label>
							Show user count?
							<input type="checkbox" ng-model="main.config.channel.showUserCount" />
						</label>
						<br />
						<label>
							Channel sort
							<select ng-model="main.config.channel.orderBy">
								<option selected="selected">Default</option>
								<option value="name">Alphabetically</option>
							</select>
						</label>
						<br />
						
						<hr />
						<h4>User</h4>
						<label>
							User sort
							<select ng-model="main.config.user.orderBy">
								<option selected="selected">Default</option>
								<option value="name">Alphabetically</option>
							</select>
						</label>
						<br />
						
						<button type="submit">Refresh</button><br /><br />
					</form>
				</div>
				<div class="col-md-4">
					<mumble-server server="main.server" refresh="main.refresh()" config="main.config" message="main.message"></mumble-server>
				</div>
			</div>
		</div>
	</div>
	<!-- inject-vendor-scripts:js -->
	<!-- endinject -->
	<!-- inject-scripts:js -->
	<!-- endinject -->
</body>

</html>