$btn-default-bg:					#fff !default;
$navbar-default-bg:					#5eb0be !default;
$navbar-default-link-color:         rgb(40, 40, 40) !default;
$navbar-default-brand-color:        $navbar-default-link-color !default;
$navbar-default-brand-hover-color:	$navbar-default-link-color !default;
